@for $i from 1 through 10 {
  .mh-#{ $i + '00' } {
    min-height: #{ $i + '00' }px !important;
  }
}

@include breakpoint ('xs') {
  @for $i from 1 through 10 {
    .mh-xs-#{ $i + '00' } {
      min-height: #{ $i + '00' }px !important;
    }
  }
}

@include breakpoint ('to-sm') {
  @for $i from 1 through 10 {
    .mh-sm-#{ $i + '00' } {
      min-height: #{ $i + '00' }px !important;
    }
  }
}
