.page-static {
  background: white;
  font-size: 1rem;
  padding-top: 8rem;

  .master-header {
    padding: 2.5rem 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 20;
    background: white;
    transition: padding 0.3s, box-shadow 0.3s;
    box-shadow: none;

    &.stick {
      padding: 1rem 0;
      box-shadow: 0 2px 2px rgba(black, 0.025);
    }

    .header--nav {
      nav {
        display: flex;
        align-items: center;

        & > div {
          margin-right: 2rem;

          a,
          span {
            display: inline-block;
            color: $color-font;
            cursor: pointer;
            text-decoration: none;
          }

          i.icon-font {
            color: $color-primary;
            margin-left: 5px;
            display: inline-block;
          }
        }
      }

      .nav-dropdown {
        position: relative;
        cursor: pointer;

        .toggle {
          white-space: nowrap;

          & > span {
            display: inline-block;
            position: relative;
            min-width: 40px;

            &:before {
              display: none;
              content: '';
              width: 5px;
              height: 5px;
              background: $color-primary;
              border-radius: 50%;
              position: absolute;
              top: 100%;
              left: calc(50% - 2.5px);
            }

            &:after {
              display: none;
              content: '';
              position: absolute;
              top: calc(100% + 14px);
              left: calc(50% - 10px);
              background: $color-primary;
              width: 20px;
              height: 20px;
              border-radius: 4px;
              transform: rotate(45deg);
              z-index: -1;
            }
          }
        }

        &.no-dot {
          .toggle {
            & > span {
              &:before {
                display: none !important;
              }
            }
          }
        }

        .menu {
          display: none;
          position: absolute;
          top: calc(100% + 1rem);
          left: 0;
          background-color: $color-primary;
          padding: 0.5rem 1.5rem;
          border-radius: 0.5rem;
          z-index: 5;
          box-shadow: 1px 3px 6px rgba(black, 0.15);

          ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
              margin-bottom: 1rem;

              a,
              span {
                white-space: nowrap;
                color: white;
                cursor: pointer;
                text-decoration: none !important;
              }

              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }

        &.right-align {
          .menu {
            left: auto;
            right: 0;
          }
        }

        &.open {
          i.icon-font {
            transform: rotate(180deg);
          }

          .toggle {
            & > span {
              &:before,
              &:after {
                display: block;
              }
            }
          }

          .menu {
            display: block;
          }
        }
      }
    }

    .header--logo {
      text-align: center;

      img {
        height: 3rem;
        width: auto;
      }
    }

    .header--user {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .avatar {
        margin-left: 1rem;
        min-width: 0 !important;
      }

      img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        overflow: hidden;
        object-fit: fill;
      }
    }
  }

  .section-header {
    text-align: center;
    margin-bottom: 3rem;

    h2 {
      margin: 0;
      font-weight: normal;
      font-size: 2.5rem;
      margin-bottom: 0.75rem;
      color: $color-primary;
    }

    p {
      margin: 0 auto;
      font-size: 1.25rem;
      width: 26rem;
      max-width: 100%;
    }
  }

  .master-footer {
    background: $color-primary;
    color: white;
    padding-top: 2rem;

    .footer--logo {
      height: 2.5rem;
      margin-bottom: 1rem;

      img {
        height: 100%;
        width: auto;
      }
    }

    .btn {
      white-space: nowrap;
    }

    .footer--link {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 1rem;
        white-space: nowrap;

        a {
          color: white;

          &:hover,
          &:focus {
            text-decoration: none;
          }
        }
      }
    }

    .footer--group {
      margin-bottom: 2rem;

      h4 {
        margin: 0;
        margin-bottom: 0.5rem;
        font-weight: 700;
        white-space: nowrap;
      }
    }

    .footer--social {
      color: white;
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;

      li {
        margin-right: 1rem;

        a {
          color: white;
          font-size: 1.5rem;
        }
      }
    }

    .copyright {
      text-align: center;
      padding: 0.75rem 0;
      border-top: 1px solid white;
      font-size: 0.8rem;
      margin-top: 2rem;
    }
  }
}

@include breakpoint('to-md') {
  .page-static {
    .section-header {
      margin-bottom: 1.5rem;

      h2 {
        font-size: 2.2rem;
      }
    }

    .master-header {
      padding-top: 1.5rem;
      margin-bottom: 4rem;

      .container {
        width: 100%;
        max-width: 320px;
        position: relative;
      }

      .header--mobile {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;

        img {
          width: 3rem;
          height: 3rem;
          border-radius: 50%;
          overflow: hidden;
          object-fit: fill;
          margin-left: 1rem;
        }
      }

      .header--toggle {
        width: 20px;
        height: 14px;
        display: flex;
        justify-content: space-between;
        flex-flow: column wrap;
        cursor: pointer;

        & > span {
          display: block;
          width: 100%;
          height: 2px;
          background: $color-primary;
        }
      }
    }

    .master-footer {
      .container {
        width: 100%;
        max-width: 320px;
      }

      .row {
        & > [class^='col-'] {
          padding-left: 10px;
          padding-right: 10px;
        }
      }

      .footer--logo {
        margin-bottom: 0;
        margin-right: 2rem;
        height: 4rem;
      }

      .btn {
        white-space: nowrap;
      }

      .footer--link {
        margin-top: 5rem;
        font-size: 1.5rem;

        li {
          white-space: normal;
        }
      }

      .footer--group {
        display: inline-block;
        width: 49.5%;

        h4 {
          font-size: 1.5rem;
          margin-top: 6rem;
        }
      }

      .footer--social {
        li {
          a {
            font-size: 2rem;
          }
        }
      }

      .footer--left {
        display: flex;
        align-items: center;

        .btn {
          margin-bottom: 0 !important;
        }
      }

      .copyright {
        border: 0;
        font-size: 1rem;
        text-align: left;
        padding: 0;

        .container {
          position: relative;

          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 10px;
            width: calc(100% - 20px);
            height: 1px;
            background: white;
          }

          & > div {
            padding: 2rem 0;
          }
        }
      }
    }
  }
}

@include breakpoint('xs') {
  .page-static {
    .master-header,
    .master-footer {
      .container {
        width: calc(100% - 30px);
        margin-left: auto;
        margin-right: auto;
        max-width: none;
      }
    }
  }
}

@include breakpoint('md') {
  .page-static {
    .master-header {
      .container {
        max-width: 720px;
      }
    }

    .master-footer {
      .container {
        max-width: 720px;
      }
    }
  }
}
