$color-font: #757575;
$color-font-light-40: lighten($color-font, 30%);
$color-font-light-60: lighten($color-font, 62.5%);
$color-primary: #03a2de;
$color-blue-light: #8dd7ff;
$color-green: #66e030;
$color-complete: #23b852;
$color-border: #e8e8e8;

$color-default: #203a45;
$color-primary: #03a2de;
$color-success: #41d492;
$color-info: #5c59ed;
$color-warning: #f2b51d;
$color-danger: #f26666;
$color-white: #fff;
$color-black: #000;
$color-gray: #acacac;
$color-light-gray: #f4f4f4;
$color-inactive: #d8d8d8;
$color-secondary: rgba(0, 0, 0, 0.4);
$color-yellow: #ffe200;
$color-yellow2: #ffdc13;

$color-twitter: #00aced;
$color-facebook: #3b5998;
$color-googleplus: #dd4b39;
$color-pinterest: #cb2027;
$color-linkedin: #007bb6;
$color-github: #4078c0;

$color-line: #d8d8d8;
$color-line2: #ebebeb;

$color-gradient-gray: linear-gradient(#cbcbcb, #adadad);
$color-gradient-blue: linear-gradient(#1e97d4, #006fc1);

$color-grade-0: #d4d4d4;
$color-grade-1: #46c75f;
$color-grade-2: #fcb13a;
$color-grade-3: #fa6a86;

$shadow-default: 0px 16px 20px 0px rgba(black, 0.05);
$shadow-light: 0 2px 5px rgba(0, 0, 0, 0.15);

$font-small: 9px;
