.footer-text {  
  color: #ffffff;  
}

.footer-copyright p {
  line-height: 1.875rem;
  font-size: 0.8125rem;
  letter-spacing: 0.48px;
}


.footer-text ul li a {
  color: #ffffff; 
  font-family: 'Circular';
  font-size: 0.9375rem;
  line-height: 2.8125rem;
}

.footer-copyright {
  color: #ffffff;
  border-top:1px solid #ffffff; 
}

.btn-join-now-footer {
  padding: 0px 0px;  //override paddingnya supaya text button bisa ke tengah
  font-family: 'Circular';
  color:#4d4d4d; 
  border: 1px solid#ffe200;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s; 
  background-color: #ffe200; 
}

.btn-signin-footer
 {  
  padding: 0px 0px;  //override paddingnya supaya text button bisa ke tengah
  font-family: 'Circular'; 
  color:#ffffff; 
  border: 1px solid#ffffff;
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;  
}




@media (min-width:320px)  { 
  .test {
    color: blue
  }

  .btn-signin-footer,
  .btn-join-now-footer
  { 
    width:5.5rem;
    height: 1.875rem; 
    font-size: 0.75rem;
  }

  .btn-join-now-footer {
    margin-left:  3.1875rem;
    margin-right: 1.4375rem;
  }

  img.honestmining-icon 
  { 
    padding-left: 1rem;
    width: 50%;  
  }
}




@media (min-width: 576px) {
  .test {
    color: green
  }

  .btn-signin-footer,
  .btn-join-now-footer
  { 
    width:4.8125rem;
    height: 1.6875rem; 
    font-size: 	0.625rem;
  }

  // .btn-join-now-footer {
  //   margin-left:  3.1875rem;
  //   margin-right: 1.4375rem;
  // }

  img.honestmining-icon 
  { 
    padding-left: 1.75rem;
    padding-right:1.5625rem; 
    width: 50%;
  }
 
  // .side-left-footer { 
  //   float: left;
  //   padding-left: 2rem;
  // }


  // .btn-signin-footer,
  // .btn-join-now-footer
  // { 
  //   width:5.5rem;
  //   height: 1.875rem; 
  //   font-size: 0.75rem;
  // }
  


  // .btn-signin-footer, 
  // .btn-joinnow-footer
  // {   
  //   width: 30%;
  //   height: 10%; 
  // }

  // img.honestmining-icon {     
  //   width: 70%;
  //   padding-left: 20%;
  // }
  
  // .join-sign-icon {
  //   padding-left: 20%;
  // }

  // .footer-text ul li,
  // ul.social-media-icon 
  // {
  //   text-align: center;
  // }

  // .footer-text ul li a {  
  //   font-size: 19px;
  //   line-height: 45px;
  // }

  // .connect-join {
  //   text-align: center;
  //   font-size: 20px;
  //   line-height: 25px;
  //   letter-spacing: 0.2px;
  // }
 

}
 
@media (min-width: 768px) { 
  .test {
    color: pink
  }

  .btn-signin-footer,
  .btn-join-now-footer
  { 
    width:5.5rem;
    height: 1.875rem; 
    font-size: 0.75rem;
  }

  .btn-join-now-footer {
    margin-left:  3.1875rem;
    margin-right: 1.4375rem;
  }

  img.honestmining-icon 
  { 
    display: block;
    padding-left: 3.1875rem;
    padding-bottom: 1rem;
  }

  // .btn-signin-footer, 
  // .btn-joinnow-footer
  // {   
  //   width: 45%;
  //   height: 10%; 
  // }

  // img.honestmining-icon {     
  //   width: 70%;
  //   padding-left: 10%;
  // }
  
  // .join-sign-icon {
  //   padding-left: 10%;
  // }
  
   

  // .connect-join {
  //   text-align: center;
  //   font-size: 15px;
  //   line-height: 25px;
  //   letter-spacing: 0.2px;
  // }


}


@media (min-width: 992px) { 

  .test {
    color: yellow
  }

  .btn-signin-footer,
  .btn-join-now-footer
  { 
    width:5.5rem;
    height: 1.875rem; 
    font-size: 0.75rem;
  }

  .btn-join-now-footer {
    margin-left:  3.1875rem;
    margin-right: 1.4375rem;
  }

  img.honestmining-icon 
  { 
    display: block;
    padding-left: 3.1875rem;
    padding-bottom: 1rem;
    // width: 116px;
  }

  // .btn-signin-footer,
  // .btn-joinnow-footer
  // {   
  //   width: 118px;
  //   height: 40px; 
  // }

  // .btn-joinnow-footer {
  //   margin-right: 15px;
  // }

  // img.honestmining-icon 
  // {  
  //   width: 70%;
  //   padding-left: 20%;
  // }

  // .join-sign-icon 
  // { 
  //   padding-left: 20%;
  // } 
}
 


@media (min-width: 1200px) {
  .test {
    color: red;
  }

  .btn-signin-footer,
  .btn-join-now-footer
  { 
    width:5.5rem;
    height: 1.875rem; 
    font-size: 0.75rem;
  }

  .btn-join-now-footer {
    margin-left:  3.1875rem;
    margin-right: 1.4375rem;
  }


  img.honestmining-icon 
  { 
    padding-left: 3.1875rem; 
    display: block;
  }


  ul.menu-footer {
    float: left;
    margin-right: 10%;
  }
   

}

 

