.box-masternode {
  border-radius: 5px;
  border: 1px solid #e4e4e4;
  padding: 0px;
  border-left: 12px solid #fff;
  &.grade_color_a{
    border-left: 12px solid $color-grade-1;
  }
  &.grade_color_b{
    border-left: 12px solid $color-grade-2;
  }
  &.grade_color_c{
    border-left: 12px solid $color-grade-3;
  }
  &.grade_color_0{
    border-left: 12px solid $color-grade-0;
  }
  .head {
    height: 80px;
    border-bottom: 1px solid $color-line;
    .mn-info-header {
      img {
        max-width: 52px;
      }
    }
  }
  .body {
    padding: 15px;
    border-radius: 5px;
    // background-color: #effaff;
    text-align: center;
    border-bottom: 1px solid $color-line;
  }
  
  .right-dashed{
    border-right: 1px dashed $color-line;
  }
}

.grade-text{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  &.grade_color_a{
    color: $color-grade-1;
  }
  &.grade_color_b{
    color: $color-grade-2;
  }
  &.grade_color_c{
    color: $color-grade-3;
  }
  &.grade_color_0{
    color: $color-grade-0;
  }
}

.box-masternode-detail {
  &.grade_color_a{
    border-left: 12px solid $color-grade-1;
  }
  &.grade_color_b{
    border-left: 12px solid $color-grade-2;
  }
  &.grade_color_c{
    border-left: 12px solid $color-grade-3;
  }
  &.grade_color_0{
    border-left: 12px solid $color-grade-0;
  }
  .head {
    margin-bottom: 10px;
    .img-box {
      border-radius: 5px;
      max-width: 100px;
    }
  }
  .body {
    padding: 15px;
    border-radius: 5px;
    background-color: #effaff;
  }
  
}

.available-balance{
  border: 1px solid $color-line;
  border-radius: 5px;
  padding: 5px 15px;
  font-size: 14px;
  font-weight: bold;
}
.media.custom-box {
  border-bottom: 1px solid $color-line;
  padding: 15px 10px;
}

.select-mn-container > span{
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}