#mn-info{
  thead{
      th, td{
        border-bottom: 2px solid #dee2e6 !important;
      }
      th:first-child{
        width: 30px !important;
      }
      th:nth-child(2){
        width: 30px !important;
      }
      
    }
}
table.dataTable.no-footer{
  border-bottom: none !important;
}
table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1{
  background-color: #effaff;
}
